@using ODAF.Website.Resources.Views.Admin

@{
    Layout = null;
}

<div class="row">
    <div class="twelve columns">
        <fieldset class="menutabview" id="feeds" >
            <legend>@_Feeds.FeedsList</legend>

            <div class="row">
                <div class="twelve columns">
                    <div class="right">
                        <a href="#" class="tiny button" data-reveal-id="addFeedModal">@_Feeds.AddFeed</a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="twelve columns">
                    <div id="noFeed" class="centered">
                        @_Feeds.NoFeed
                    </div>

                    <table class="menutabviewlist" id="feedList">
                        <thead>
                            <tr>
                                <td class="colAction"></td>
                                <td class="colAction"></td>
                                <td class="colDataSource">@_Feeds.DataSource</td>
                                <td class="colUniqueId">@_Feeds.UniqueId</td>
                                <td class="colTitle">@_Feeds.Title</td>
                                <td class="colRegion">@_Feeds.Region</td>
                                <td class="colActive">@_Feeds.Active</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="model">
                                <td class="colAction remove">
                                    <a href="#" title="@_Feeds.Delete">
                                        <i class="icon-enclosed-remove"></i>
                                    </a>
                                </td>
                                <td class="colAction edit">
                                    <a href="#" title="@_Feeds.Edit">
                                        <i class="icon-enclosed-edit"></i>
                                    </a>
                                </td>
                                <td class="colDataSource"></td>
                                <td class="colUniqueId"></td>
                                <td class="colTitle"></td>
                                <td class="colRegion"></td>
                                <td class="colActive"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </fieldset>
    </div>
</div>



