@using ODAF.Website.Resources.Views.Admin


@{
    Layout = null;
}


<form id="userForm" onsubmit="return false">
    <div id="editUserModal" class="reveal-modal">
        <h2>@_Users.EditUser</h2>

        <div class="alert-box alert model-alert">
            @_Users.MissingUserField
            <a href="" class="close">&times;</a>
        </div>

        <label for="editUserName">@_Users.Name <span class="mandatory">*</span></label>
        <input type="text" class="userName" id="editUserName" readonly />

        <label for="editUserStatus">@_Users.Status </label>
        <select class="userStatus" id="editUserStatus" style="margin:10px 0px 20px 0px;"></select>

        <label for="editUserRole">@_Users.Role </label>
        <select class="userRole" id="editUserRole" style="margin:10px 0px 20px 0px;"></select>

        <div class="right">
            <input type="submit" id="validEditUser" class="success radius button" value="@Index.Ok" />
        </div>

        <a class="close-reveal-modal">&#215;</a>
    </div>
</form>

<form id="sourceForm" onsubmit="return false">
    <div id="addSourceModal" class="reveal-modal">
        <h2>@_Sources.AddSource</h2>

        <div class="alert-box alert model-alert">
            @_Sources.MissingSourceField
            <a href="" class="close">&times;</a>
        </div>

        <label for="addSourceTitle">@_Sources.Title <span class="mandatory">*</span></label>
        <input type="text" class="sourceTitle" id="addSourceTitle" />

        <label for="addSourceUpdated">@_Sources.Updated <span class="mandatory">*</span></label>
        <input type="text" placeholder="@Index.DateTimeTemplate" class="sourceUpdated" id="addSourceUpdated" />

        <label for="addSourceDescription"> @_Sources.Description <span class="mandatory">*</span> </label>
        <input type="text" class="sourceDescription" id="addSourceDescription" />

        <label for="addSourceAuthorName">@_Sources.AuthorName <span class="mandatory">*</span></label>
        <input type="text" class="sourceAuthorName" id="addSourceAuthorName" />

        <label for="addSourceAuthorEmail">@_Sources.AuthorEmail <span class="mandatory">*</span></label>
        <input type="email"  class="sourceAuthorEmail" id="addSourceAuthorEmail" />

        <label for="addSourceBoundary">@_Sources.Boundary <span class="mandatory">*</span></label>
        <input type="text" placeholder="&quot;latitude&quot;x.xxx,&quot;longitude&quot;:x.xxxx" class="sourceBoundary" id="addSourceBoundary" />

        <label for="addSourceActive"> <input type="checkbox" class="sourceActive" id="addSourceActive" />  @_Sources.Active </label>

        <div class="right">
            <input type="submit" id="validAddSource" class="success radius button" value="@Index.Ok" />
        </div>

        <a class="close-reveal-modal">&#215;</a>
    </div>

    <div id="editSourceModal" class="reveal-modal">
        <h2>@_Sources.EditSource</h2>

        <div class="alert-box alert model-alert">
            @_Sources.MissingSourceField
            <a href="" class="close">&times;</a>
        </div>

        <label for="editSourceTitle">@_Sources.Title<span class="mandatory">*</span></label>
        <input type="text" class="sourceTitle" id="editSourceTitle" />

        <label for="editSourceUpdated">@_Sources.Updated <span class="mandatory">*</span></label>
        <input type="text" class="sourceUpdated" id="editSourceUpdated" />

        <label for="editSourceDescription">@_Sources.Description <span class="mandatory">*</span></label>
        <input type="text" class="sourceDescription" id="editSourceDescription" />

        <label for="editSourceAuthorName">@_Sources.AuthorName <span class="mandatory">*</span></label>
        <input type="text" class="sourceAuthorName" id="editSourceAuthorName" />

        <label for="editSourceAuthorEmail">@_Sources.AuthorEmail <span class="mandatory">*</span></label>
        <input type="email" class="sourceAuthorEmail" id="editSourceAuthorEmail" />

        <label for="addSourceBoundary">@_Sources.Boundary <span class="mandatory">*</span></label>
        <input type="text" class="sourceBoundary" id="addSourceBoundary" />

        <label for="editSourceActive"> <input type="checkbox" class="sourceActive" id="editSourceActive" />  @_Sources.Active </label>

        <div class="right">
            <input type="submit" id="validEditSource" class="success radius button" value="@Index.Ok" />
        </div>

        <a class="close-reveal-modal">&#215;</a>
    </div>
</form>

<form id="feedForm" onsubmit="return false">
    <div id="addFeedModal" class="reveal-modal">
        <h2>@_Feeds.AddFeed</h2>

        <div class="alert-box alert model-alert">
            @_Feeds.MissingFeedField
            <a href="" class="close">&times;</a>
        </div>

        <label for="addFeedDataSource">@_Feeds.DataSource <span class="mandatory">*</span></label>
        <select class="feedDataSource" id="addFeedDataSource" style="margin:10px 0px 20px 0px;"></select>


        <label for="addFeedTitle">@_Feeds.Title <span class="mandatory">*</span></label>
        <input type="text" class="feedTitle" id="addFeedTitle" />

        <label for="addFeedUpdated">@_Feeds.Updated <span class="mandatory">*</span></label>
        <input type="text" placeholder="@Index.DateTimeTemplate" class="feedUpdated" id="addFeedUpdated" />

        <label for="addFeedSummary"> @_Feeds.Summary</label>
        <input type="text" class="feedSummary" id="addFeedSummary" />

        <label for="addFeedKmlUrl">@_Feeds.KML<span class="mandatory">*</span></label>
        <input type="text" class="feedKmlUrl" id="addFeedKmlUrl" />

        <label for="addFeedImageUrl">@_Feeds.ImageUrl<span class="mandatory">*</span></label>
        <input type="text" class="feedImageUrl" id="addFeedImageUrl" />

        <label for="addFeedRegion"> <input type="checkbox" class="feedRegion" id="addFeedRegion" />  @_Feeds.Region </label>
        <label for="addFeedActive"> <input type="checkbox" class="feedActive" id="addFeedActive" />  @_Feeds.Active </label>

        <div class="right">
            <input type="submit" id="validAddFeed" class="success radius button" value="@Index.Ok" />
        </div>

        <a class="close-reveal-modal">&#215;</a>
    </div>

    <div id="editFeedModal" class="reveal-modal">
        <h2>@_Feeds.EditFeed</h2>

        <div class="alert-box alert model-alert">
            @_Feeds.MissingFeedField
            <a href="" class="close">&times;</a>
        </div>

        <label for="editFeedDataSource">@_Feeds.DataSource <span class="mandatory">*</span></label>
        <select class="feedDataSource" id="editFeedDataSource" style="margin:10px 0px 20px 0px;"></select>


        <label for="editFeedTitle">@_Feeds.Title <span class="mandatory">*</span></label>
        <input type="text" class="feedTitle" id="editFeedTitle" />

        <label for="editFeedUpdated">@_Feeds.Updated <span class="mandatory">*</span></label>
        <input type="text" placeholder="@Index.DateTimeTemplate" class="feedUpdated" id="editFeedUpdated" />

        <label for="editFeedSummary"> @_Feeds.Summary</label>
        <input type="text" class="feedSummary" id="editFeedSummary" />

        <label for="editFeedKmlUrl">@_Feeds.KML<span class="mandatory">*</span></label>
        <input type="text" class="feedKmlUrl" id="editFeedKmlUrl" />

        <label for="editFeedImageUrl">@_Feeds.ImageUrl<span class="mandatory">*</span></label>
        <input type="text" class="feedImageUrl" id="editFeedImageUrl" />

        <label for="editFeedRegion"> <input type="checkbox" class="feedRegion" id="editFeedRegion" />  @_Feeds.Region </label>
        <label for="editFeedActive"> <input type="checkbox" class="feedActive" id="editFeedActive" />  @_Feeds.Active </label>

        <div class="right">
            <input type="submit" id="validEditFeed" class="success radius button" value="@Index.Ok" />
        </div>

        <a class="close-reveal-modal">&#215;</a>
    </div>
</form>

<form id="placemarkForm" onsubmit="return false">

    <div id="editPlacemarkModal" class="reveal-modal">
        <h2>@_Placemarks.EditPlacemark</h2>

        <div class="alert-box alert model-alert">
            @_Placemarks.MissingPlacemarkField
            <a href="" class="close">&times;</a>
        </div>

        <label for="editPlacemarkLayerId">@_Placemarks.LayerId <span class="mandatory">*</span></label>
        <input type="text" class="placemarkLayerId" id="editPlacemarkLayerId" />

        <label for="editPlacemarkName">@_Placemarks.Name <span class="mandatory">*</span></label>
        <input type="text" class="placemarkName" id="editPlacemarkName" />

        <label for="editPlacemarkDescription">@_Placemarks.Description </label>
        <input type="text" class="placemarkDescription" id="editPlacemarkDescription" />

        <label for="editPlacemarkLatitude">@_Placemarks.Latitude <span class="mandatory">*</span></label>
        <input type="text" class="placemarkLatitude" id="editPlacemarkLatitude" />

        <label for="editPlacemarkLongitude">@_Placemarks.Longitude <span class="mandatory">*</span></label>
        <input type="text" class="placemarkLongitude" id="editPlacemarkLongitude" />

        <label for="editPlacemarkTags">@_Placemarks.Tags </label>
        <input type="text" class="placemarkTags" id="editPlacemarkTags" />

        <div class="right">
            <input type="submit" id="validEditPlacemark" class="success radius button" value="@Index.Ok" />
        </div>

        <a class="close-reveal-modal">&#215;</a>
    </div>
</form>