@using ODAF.Website.Resources.Views.Admin

@{
    Layout = null;
}

<div class="row">
    <div class="twelve columns">
        <fieldset class="menutabview" id="users">
            <legend>@_Users.UsersList</legend>

            <div class="row">
                <div class="twelve columns">
                    <div id="noUser" class="centered">
                        @_Users.NoUser
                    </div>

                    <table class="menutabviewlist" id="userList">
                        <thead>
                            <tr>
                                <td class="colAction"></td>
                                <td class="colName">@_Users.Name</td>
                                <td class="colStatus">@_Users.Status</td>
                                <td class="colRole">@_Users.Role</td>
                                <td class="colLastLogin">@_Users.LastLogin</td>
                                <td class="colJoined">@_Users.Joined</td>
                                <td class="colPlacemarks">@_Users.Placemarks</td>
                                <td class="colComments">@_Users.Comments</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="model" id="sample">
                                <td class="colAction edit">
                                    <a href="#" title="@_Users.Edit">
                                        <i class="icon-enclosed-edit"></i>
                                    </a>
                                </td>
                                <td class="colName"></td>
                                <td class="colStatus"></td>
                                <td class="colRole"></td>
                                <td class="colLastLogin"></td>
                                <td class="colJoined"></td>
                                <td class="colPlacemarks"></td>
                                <td class="colComments"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </fieldset>
    </div>
</div>

