@using ODAF.Website.Resources.Views.Shared
@using System.Configuration

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="keywords" content="@_Layout.Keywords" />
    <meta name="description" content="@_Layout.Description" />

    <!-- Facebook Open Graph -->
    <meta property="og:title" content="@(ViewBag.Title != null ? string.Format("{0} - {1}", _Layout.Title, ViewBag.Title) : _Layout.Title)" />
    <meta property="og:image" content="@(string.Format("http://{0}{1}", Request.Url.Host, Url.Content(string.Format("~/Content/Images/{0}.png", _Layout.Logo))))" />
    <meta property="og:description" content="@_Layout.Description" />

    <title>@ViewBag.Title</title>

    @Styles.Render("~/bundles/foundation/style")
    @Styles.Render("~/bundles/style")

    @Scripts.Render("~/bundles/modernizr")

</head>


<body>
    <div id="container">

        <header>
            <div class="row">
                <div class="six columns">
                    <a href="@Url.Action("Index", "Home")">
                        <img src="@Url.Content(string.Format("~/Content/Images/{0}.png", _Layout.Logo))" alt="Open Data" />
                    </a>
                </div>
                <div class="six columns">
                    <div id="banner" class="right">
                        <img src="@Url.Content("~/Content/Images/Banner.png")" alt="Banner" />
                    </div>
                </div>
            </div>

            @*<img id="odafLogo" src="@Url.Content(string.Format("~/Content/Images/{0}.png", _Layout.Logo))" alt="Open Data" />
            <a href="">
                <img id="twitterLogo" src="@Url.Content(string.Format("~/Content/Images/{0}.png", _Layout.TwitterLogo))" alt="Open Data" />
            </a>*@
        </header>

        <section id="body">
            @RenderBody()
        </section>

        <footer>
            <div class="row">
                <div class="ten columns">
                    <ul class="inline-list right">
                        <li><a href="@_Layout.ManageUrl" target="_blank">@_Layout.Manage</a></li>
                        <li><a href="@_Layout.ContactMSUrl" target="_blank">@_Layout.ContactMS</a></li>
                        <li><a href="@_Layout.TermsUrl" target="_blank">@_Layout.Terms</a></li>
                        <li><a href="@_Layout.PrivacyUrl" target="_blank">@_Layout.Privacy</a></li>
                        <li><a href="@_Layout.AboutUrl" target="_blank">@_Layout.About</a></li>
                        <li><a href="@_Layout.TrademarksUrl" target="_blank">@_Layout.Trademarks</a></li>
                    </ul>
                </div>

                <div class="two columns">
                    <a href="@_Layout.MicrosoftUrl">
                        <img src="@Url.Content("~/Content/Images/Microsoft.png")" alt="Microsoft" />
                    </a>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/foundation/scripts")
    @Scripts.Render("~/bundles/jqueryui")

    @Scripts.Render("~/bundles/layout")
    @RenderSection("scripts", required: false)
</body>
</html>
