@using ODAF.Website.Resources.Views.Home

@{
    ViewBag.Title = "ODAF OpenTurf";
}


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="@Url.Content("~/Content/Scripts/Home/Index.js")"></script>
<script src="http://dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0&mkt=@ViewBag.Culture" type="text/javascript"></script>
<script type="text/javascript">
    USER.Logged = '@ViewBag.logged';
    USER.Id = '@ViewBag.id';
    USER.SocialId = '@ViewBag.socialid';
    USER.ScreeName = '@ViewBag.screenname';

    //Get the localized strings for the map infobox
    INFOBOX.StringInfo = '@Index.StringInfo';
    INFOBOX.StringTag = '@Index.StringTag';
    INFOBOX.StringComments = '@Index.StringComments';
    INFOBOX.StringRating = '@Index.StringRating';

    INFOBOX.StringDelete = '@Index.StringDelete';
    INFOBOX.StringAddTag = '@Index.StringAddTag';
    INFOBOX.StringAddComment = '@Index.StringAddComment';
    INFOBOX.StringAddRating = '@Index.StringAddRating';
    INFOBOX.StringAlreadyRated = '@Index.StringAlreadyRated';
    INFOBOX.StringSignInToRate = '@Index.StringSignInToRate';

</script>



<div id="page">
    <div id="sidebar">
        <h5 class="sub-title">@Index.Region</h5>

        @Html.DropDownList("region", (List<SelectListItem>)ViewBag.RegionList, new { @id = "regionDropdown", onchange = "GetFeeds()" })

        <h5 class="sub-title">@Index.Landmarks</h5>


        <ul id="checklist"></ul>

        <h5 class="sub-title">@Index.SocialLandmarks</h5>

        @if (ViewBag.Logged)
        {
            <label> @Html.CheckBox("YourLandmarks", true, new { @id = "YourLandmarks", onchange = "LANDMARK.Load()" }) @Index.YourLandmarks</label>
        }
        <label> @Html.CheckBox("SharedLandmarks", true, new { @id = "SharedLandmarks", onchange = "LANDMARK.Load()" }) @Index.SharedLandmarks </label>
        <label> @Html.CheckBox("NearbyTweets", true) @Index.NearbyTweets </label>

        @if (ViewBag.Logged)
        {
            <div id="newlandmark"><a href="#">@Index.AddLandmark</a></div>
        }

        <h5 class="sub-title">@Index.MapAttributes</h5>
        <label> @Html.RadioButton("HideAttibutes", "Yes", true) @Index.HideAttributes </label>

    </div>
    <label id="bmc" hidden style="display:none;">@ViewBag.BingCredential</label>
    <div id="myMap">
    </div>

    @if (!ViewBag.Logged)
    {
        <div id="userblock">
            <div id="twittersignin"><a href="/Home/Twitter">@Index.ConnectWithTwitter</a></div>
        </div>
    }
    else
    {
        <div id="userblock">
            <div id="twitterprofile">
                <div id="useravatar">
                    <a href="/Home/SignOut">
                        <div style="background-image:url(@ViewBag.useravatar)"></div>
                    </a>
                </div>
            </div>
        </div>
    }


    @{Html.RenderPartial("_HomeForms");}

</div>
