@using ODAF.Website.Resources.Views.Admin

@{
    Layout = null;
}

<div class="row">
    <div class="twelve columns">
        <fieldset class="menutabview" id="placemarks">
            <legend>@_Placemarks.PlacemarksList</legend>

            <div class="row">
                <div class="twelve columns">
                    <div id="noPlacemark" class="centered">
                        @_Placemarks.NoPlacemark
                    </div>

                    <table class="menutabviewlist" id="placemarkList">
                        <thead>
                            <tr>
                                <td class="colAction"></td>
                                <td class="colAction"></td>
                                <td class="colUser">@_Placemarks.User</td>
                                <td class="colName">@_Placemarks.Name</td>
                                <td class="colComment">@_Placemarks.Comments</td>
                                <td class="colRatings">@_Placemarks.Ratings</td>
                                <td class="colModified">@_Placemarks.Modified</td>
                                <td class="colCreated">@_Placemarks.Created</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="model">
                                <td class="colAction remove">
                                    <a href="#" title="@_Placemarks.Delete">
                                        <i class="icon-enclosed-remove"></i>
                                    </a>
                                </td>
                                <td class="colAction edit">
                                    <a href="#" title="@_Placemarks.Edit">
                                        <i class="icon-enclosed-edit"></i>
                                    </a>
                                </td>
                                <td class="colUser"></td>
                                <td class="colName"></td>
                                <td class="colComment"></td>
                                <td class="colRatings"></td>
                                <td class="colModified"></td>
                                <td class="colCreated"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </fieldset>
    </div>
</div>




